.sectionPut{
    width: 100%;
    height: 85svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #db9200;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    
  }
  .sectionPut>form{
      width: 100%;
      height: 85svh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: var(--nsr-gap2);
  }
  .sectionPut>form>input{
   width: 250px;
   padding: var(--nsr-padd1);
   border-radius: var(--nsr-bradiusM);
   border: none;
   background-color: var(--nsr-color3);
   font-family: 'Courier New', Courier, monospace;
   font-size: 15px;
   font-weight: bold;
  }
  .sectionPut>form>select{
      width: 250px;
      padding: var(--nsr-padd1);
      border-radius: var(--nsr-bradiusM);
      border: none;
      background-color: var(--nsr-color5);
      font-family: 'Courier New', Courier, monospace;
      font-size: 15px;
      font-weight: bold;
  }
  .sectionPut>form>button{
      font-family: 'Courier New', Courier, monospace;
      font-size: 15px;
      font-weight: bold;
      border-radius: var(--nsr-bradiusM);
      border: none;
      padding: var(--nsr-padd1);
      background-color: var(--nsr-color6);
      cursor: pointer;
  }