.sectionGeneral{
    width: 100%;
    min-height: 65vh;
   flex-wrap: wrap;
    background-color:var(--nsr-color1);
    background-image: var(--nsr-bgimage2);
    padding-top: var(--nsr-padd3);
    gap:var(--nsr-gap4);
    
}
/*Imagen loading del comienzo*/
.cargando{
    width:250px ;
    height: 270px;
    margin-top: -150px;
}
