.sectionGeneral {
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #db9200;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    
}

.divArticlesMusica{
    width: 100%;
    min-height: 75svh;
    background-color: #db9200;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--nsr-gap4);
    padding-bottom: var(--nsr-padd4);
    
 
}
.article{
    position: relative;
    width:250px;
    height:270px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 11px groove var(--nsr-color2);
    border-radius: 20px;
    background-color: var(--nsr-color3);
background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
box-shadow: 14px 14px 13px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 14px 14px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 14px 13px 0px rgba(0,0,0,0.75);
}
.divImg{
width: 100px;
height: 100px;
border-radius: var(--nsr-bradiusM);
display: flex;
align-items: center;
justify-content: center;
}
.divImg>img{
object-fit: cover;
width: 100px;
height: 100px;
border-radius: 100%;
transition: all 0.5s;
}
.divImg>img:hover{
   transform: rotate(-45deg) scale(0.8);
}   

.divInfo{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.divInfo h3:hover{
    color: blue;
}
.divInfo p:first-of-type:hover{
    color: blueviolet;
    scale: 1.1;
}

.like{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.deleteMusicFav{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.deleteMusic{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}
.updateMusic{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

@media(max-width:600px){
    .divArticlesMusica{
        gap: var(--nsr-gap2);
    }
    .article{
        width:200px;
        height:230px;
    }
    .divImg{
        width: 70px;
        height: 70px;
        }
        .divImg>img{
          width: 60px;
        height: 60px;
        }
        .divInfo{
            gap: 8px;
        }
        .divInfo h3, .divInfo h4{
            font-size: 12px;
        }
        .divInfo p{
            font-size: 12px;
        }
}





