#app{
   
    width: 100%;
    height: 100svh;
    background: var(--nsr-bgimage4);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    gap: var(--nsr-gap7);
   
}
#app p {
    color: rgb(17, 20, 10);
    font-weight: bold;
    font-size: 25px;
    transition: var(--nsr-transition1);
}
#app p:hover{
    color: var(--nsr-color23);
}
#app img{
    width: var(--nsr-width2);
    height: var(--nsr-height2);
    transition: var(--nsr-transition1);
    cursor: var(--nsr-pointer);
}
#app img:hover{
    transform: scale(0.8) rotate(45deg);
}
