.header{
    width: 100%;
    height: 15vh;
    display: flex;
    gap: var(--nsr-gap2);
    background-color: var(--nsr-color20);
    background-image: var(--nsr-bgimage1);
    box-shadow: 1px 13px 11px -4px rgba(0,0,0,0.62);
    -webkit-box-shadow: 1px 13px 11px -4px rgba(0,0,0,0.62);
    -moz-box-shadow: 1px 13px 11px -4px rgba(0,0,0,0.62);
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header>nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header>nav h1{
    
    cursor: var(--nsr-pointer);
    transition: var(--nsr-transition1);
    text-shadow: 4px 1px 2px var(--nsr-color19);
}
.header>nav h1:hover{
    transform: scale(var(--nsr-scale1));
}

@media (max-width: 600px) {
    .header>nav {
       
        justify-content: center; 
        gap: var(--nsr-gap4);
        
    }
}

@media ( max-width:330px){
    .header>nav {
        gap: var(--nsr-gap2);  
    }
    .header>nav h1{
        font-size: 17px;
    }
}

